main {
    flex-grow: 1;
}

#map {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    z-index: 1;
}

#map > ymaps {
    border-radius: 15px;
    overflow: hidden;
}

.custom-marker {
    display: flex;
    align-items: center;
    background-color: var(--second-background-dark);
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
    width: max-content;
    white-space: nowrap; 
    transition: width 0.3s ease;
}


.custom-marker.icon-only {
    width: 24px;
    height: 24px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.custom-marker.icon-only .marker-context {
    display: none;
}

.custom-marker img {
    width: 24px;
    height: 24px;
}

.marker-context {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.marker-context p {
    font-size: 10px; 
    color: var(--text-color-dark); 
    white-space: nowrap; 
    font-weight: 700;
    font-family: Montserrat;
    text-transform: uppercase;
}

.marker-context p:last-child{
    font-size: 8px;
    font-weight: 400;
}

.cluster-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--second-background-dark);
    color: var(--text-color-dark);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    /* border: 2px solid white; */
}