<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Макет приложения</title>
  <link rel="stylesheet" href="../styles/style.css">  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
  <script async src="https://api-maps.yandex.ru/v3/?apikey=00b80c2a-8bf3-41fd-a5da-640243e7e720&lang=ru_RU"></script>
  <!-- <script src="../scripts/map.js"></script> -->
</head>
<body>
  <header class="head">
    <div class="logo">
      <img src="../assets/icons/logo-dark.svg" alt="Логотип">
    </div>
    <div class="user-info">
      <img src="../assets/images/user-avatar.png" alt="Аватар пользователя">
      <div class="user-details">
        <span class="name">Артём</span>
        <span class="id">ID: 741342267</span>
      </div>
    </div>
  </header>

  <main>
    <div id="map">
    </div>
  </main>

  <footer>
    <div class="footer-button">
        <img src="../assets/icons/wallet.svg" alt="Кошелек">
        <span>Баланс</span>
    </div>
    <div class="footer-button filter-button">
        <img src="../assets/icons/filter_big.svg" alt="Фильтр">
        <span>Фильтры</span>
    </div>
    <div class="footer-button">
        <img src="../assets/icons/user_circle.svg" alt="">
        <span>Профиль</span>
    </div>
  </footer>
</body>
</html>